div#events {
	display: grid;
	height: 100dvh;

	grid-template-areas:
		"padTop padTop padTop padTop padTop"
		"padL title title title padR"
		"padL events events events padR"
		"padL padM padM buttons padR"
		"padBottom padBottom padBottom padBottom padBottom"
	;

	&.mobile {
		grid-template-rows: 0 min-content 1fr min-content 0.05rem;
		grid-template-columns: 0.375rem 1fr 1rem min-content 0.375rem;
	}

	&:not(.mobile) {
		grid-template-rows: 1rem min-content 1fr min-content 1rem;
		grid-template-columns: 2rem 1fr 1rem min-content 1.5rem;
	}

	h1 {
		grid-area: title;
		font-size: 2.5rem;
	}

	&.mobile {
		h1 {
			font-size: 2rem;
			margin-block: .25rem;
		}
	}
}

div.buttons {
	grid-area: buttons;
	place-self: end;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto;
	grid-template-areas: "left right";
	gap: .5rem;
	padding-top: 1rem;
	div.right {
		grid-area: right;
	}
	div.left {
		grid-area: left;
	}

	div.button {
		border-radius: 300rem;
		background-color: teal;
		aspect-ratio: 1;
		width: 2.5rem;
		display: grid;
		place-items: center;
		cursor: pointer;
		user-select: none;
	}
}

div.events {
	grid-area: events;

	display: flex;            // ← lay out children in a row
	// overflow: hidden;         // ← clip anything outside the viewport
	overflow-x: scroll;
	//scroll-behavior: smooth;  // ← smooth native scroll (optional)
	scroll-snap-type: x mandatory;

	// Hide scrollbar in WebKit browsers
	&::-webkit-scrollbar {
		display: none;
	}
	// Hide scrollbar in Firefox
	scrollbar-width: none;
	// Hide scrollbar in IE and Edge
	-ms-overflow-style: none;

	div.event {
		scroll-snap-align: start;
		scroll-snap-stop: always;

		//flex: 0 0 100%;         // ← each event is 100% of container’s width
		flex-grow: 10;
		margin-right: 1rem;     // ← gutter between slides (optional)
		//width: 100%;
		//min-width: 60%;
		//max-width: 100%;
		min-width: min-content;

		background-color: #333333;

		display: grid;

		&:not(.mobile) {
			grid-template-columns: max-content 1fr auto;
			//grid-template-rows: calc(100dvh - 2*.67rem - 2.8125rem - 6rem);
			grid-template-rows: 100%;
			grid-template-areas: "content pad poster";
		}
		&.mobile {
			width: 100%;
			grid-template-rows: auto 1fr auto;
			grid-template-columns: 97dvw;
			//grid-template-rows: calc(100dvh - 2*.67rem - 2.8125rem - 6rem);
			grid-template-areas:
				"content"
				"pad"
				"poster"
			;

			div.content {
				padding: 1rem 1.5rem;
				text-align: center;
				justify-content: space-between;

				* {
					margin-block: 0;
				}
			}
			div.poster {
				grid-area: poster;
				max-height: 48vh;
				width: 100%;
			}
			img {
				display: block;
				object-fit: contain;
				//width: 100%;
				//max-height: 60%;
				place-self: end center;
			}
		}

		border-radius: 3rem;

		overflow: hidden;

		//max-height: calc(100dvh - 6rem);

		div.content {
			display: flex;
			flex-direction: column;
			grid-area: content;
			padding: 1.5rem 3rem;
			h1, h2, h3, p {
				margin-block: .5rem;
			}
		}

		a, a:visited, a:hover, a:active, a:focus {
			color: white;
			text-decoration-style: dotted;
		}

		img {
			grid-area: poster;
			display: block;
			object-fit: contain;
			height: 100%;
		}

		div.poster {
			max-width: 100%;
			//max-height: 100%;
			height: 100%;
			overflow: hidden;
		}
	}
}